@model CyberSolar.Models.CategoryViewModel
@{
    ViewBag.Title = "Category";
    Layout = Model.SharedViewLayout;
}

@section MyStyles{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }

        .result {
            color: green; font-size: 30px;
        }
    </style>
}

<div>
    <h1 class="subject">Category Information</h1>
    <form method="post">
        <table style="width: 70%; margin: auto">
            <tr>
                <td>@Html.TextBoxFor(c => c.SearchText, Model.SearchText) 
                    <input type="submit" value="search" formaction="Search"/></td>
            </tr>
            <tr>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <p class="result">@ViewBag.Message</p>
                    }
                </td>
            </tr>
        </table>
    </form>
    @{
        Html.RenderPartial(Model.SharedViewString, Model);
    }
    <br/>
    @Html.ActionLink("Back to Home", "Add", "Category")
</div>

@section MyScripts{
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
