@model CyberSolar.Models.CategoryViewModel
@{
    /**/

    ViewBag.Title = "Category";
    Layout = Model.SharedViewLayout;
}

@*<!DOCTYPE html>

    <html>*@
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Information</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .subject {
            text-align: center;
            color: darkgreen;
            font-size: 70px;
        }

        .content {
            max-width: 80%;
            margin: auto;
        }

        .errorMessage {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body class="content">
    <div>
        <h1 class="subject">Category Information</h1>
        <form method="post">
            <table style="width: 70%; margin: auto">
                @*<tr>
                        <td>Code:</td>
                        <td>@Html.TextBox("Code", Model.Code)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>@Html.TextBox("Name", Model.Name)</td>
                        <td></td>
                    </tr>*@

                <tr>
                    <td>Search: @Html.TextBox("SearchText")</td>
                    <td><input type="submit" value="search" /></td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <h2>@ViewBag.Message</h2>
                        }
                    </td>
                </tr>
            </table>
        </form>
        @{
            Html.RenderPartial(Model.SharedViewString, Model);
        }
    </div>

    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
@*    </html>*@
