
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <style>
        
    </style>
</head>
<body>
    <div class="supplierBorder"> 

    </div>
</body>
</html>
